body {
    background-color:rgb(206, 223, 245);
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.wholeBody {
    display: inline-block;
    border: solid;
    border-block-color: rgb(1, 1, 110);
    background-color: rgb(176, 209, 247);
    height: 90vh;
    width: 40vw;;
    padding-bottom: 4vh;
    padding-top: 1vh;
}
img {
height: 50vh;
width: auto;
}

ul {
    list-style: none;
}
.navUl {
    display: flex;
    justify-content: space-evenly;
}